/** {
  border: 1px solid #f00 !important;
}*/

body {
  background: linear-gradient( #fc766aff, #783937ff, #f1ac88ff);
  opacity: 0;
  transition: opacity 4s;
}

h1 {
  font-family: fantasy;
  color: rgb(0, 0, 0);
  font-size: 250%;
  text-shadow: 2px 2px 7px rgb(73, 71, 71);
  justify-content: center;
  text-align: center;
}

h2{
  font-family: "Courier New", Courier;

}
p {
  font-size: 130%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
  font-size: 110%;
  text-decoration: none;
  text-align: center;
}

a:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.nav {
  background-color: #f1ac88ff;
  padding: 5px;
  margin: 50px;
  font-family: "Courier New", Courier;
  box-shadow: inset 0 0 10px #eca9f5;
  text-align: center;
 
  
}

.nav a {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 150%;
  padding: 12px;
  width: 15%;
 

}

img {
  float: left;
  height: 400px;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 100px;
}

.contact{
  text-align: center;

}

.contact a{
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 120%;
  text-align: center;
  padding: 12px;
  width: 15%;

}

fieldset {
  width: 40%;
  transition: +0s;
  color: black;
 
}

input{
  font-size: larger;
}

.hobbies{
  color: rgb(0, 0, 0);
  font-size: 150%;
  padding: 12px;
  width: 15%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

#activities:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  

}