

body {
  background: linear-gradient( #fffbf0, #f1ac88ff);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-family: 'Courier New', Courier;
  
}

a{
    color: whitesmoke;
    font-size: 110%;
    text-decoration: none;
    transition: transform .5s;
    margin-top: 80px;
  }

a:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
    text-decoration: underline;
  }

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    height: 400px;
    width: auto;
    
  }

.letter{
    margin: 10px;
    filter: drop-shadow(0px 0px 7px rgba(134, 81, 81));
    height: 400px;
    width: auto;
}

img{
    transition: transform .5s;
    margin-top: 60px;
    height: 400px;
    width: auto;
}

img:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}




