

 @media print {
   body {-webkit-print-color-adjust:exact;}
 }
 @page {
     size:A4 landscape;
     margin-left: 4px;
     margin-right: 4px;
     margin-top: 4px;
     margin-bottom: 4px;
     margin: 5px;
     -webkit-print-color-adjust: exact;
 }
    
      
      h1{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 150%;
        text-shadow: none;
      }
      
      p {
        font-size: 90%;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
      }
      
      a{
        color: black;
        font-size: 90%;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      a:hover {
        display: none;
      }
      
      
      #nav {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
        padding: 1px;
        margin: 0;
        text-align: center;
        color: #222;
      }
      
      #nav a {
        display: inline
      }
      
      #nav a:hover{
        display: none;
      }
      
      
      li {
        display: inline;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 90%;
      }
      
      .parent {
        display:contents;
        height: 50px;;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .left {
        width: 100%;
        padding: 0;
        align-items: inherit;
        background-image:initial;
      }
      
      .right {
        width: 100%;
        color: #222;
        text-align:inherit;
        padding-left: 0;
        padding-right: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
      }

     